streamlit
pandas
python-docx
PyPDF2
tweepy
google-generativeai
google-genai
google-ai-generativelanguage
python-dotenv
Pillow
requests
numpy
python-dateutil
pytz
six
urllib3
certifi
charset-normalizer
idna
oauthlib
python-jose
cryptography
GoogleNews
pytrends
feedparser
beautifulsoup4
firebase_admin